.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}


#selected-city {
  background: #007bff;
}
/*#main {
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}*/
